label {
    font-weight: bold;
}
input,
textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input:focus,
textarea:focus {
    background-color: #ddd;
    outline: none;
    outline: 0;
    border-style: none;
}
#post-content {
    height: 200px;
}
button[type=submit] {
    background-color: #008CBA;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
button[type=submit]:hover {
    opacity: 1;
}