<div>
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    
        <a mat-button class="appName" routerLink="/">
            <span>BookApp</span>
        </a>

        <span class="menu-spacer"></span>

        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button routerLink="/my-bookshelf">My Bookshelf</a>
            <a mat-button routerLink="/book-reviews">Book Reviews</a>
            <a mat-button routerLink="/discussion-board">Discussion Board</a>
            <a mat-button routerLink="/news">Community News</a>
        </div>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <a mat-button routerLink="/my-bookshelf">My Bookshelf</a>
                <a mat-button routerLink="/book-reviews">Book Reviews</a>
                <a mat-button routerLink="/discussion-board">Discussion Board</a>
                <a mat-button routerLink="/news">Community News</a>
            </div>
        </mat-sidenav>

        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div>
  